@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #666;
  --light-blue: #afbfd1;
  --blue: #486E99;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  color: var(--gray);
}